.product-item {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 10px;

  a {
    text-decoration: none;
    color: #000;
  }

  .product-thumbnails {
    padding-top: 135%;

    img {
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .infor-product {
    padding: 12px 0;

    .rate-box {
      color: #000;
      font-size: 13px;

      .rating-box {
        background-color: #fff9e6;
        border: 1px solid #ffdd57;
        border-radius: 6px;
        padding: 2px 6px;

        svg {
          font-size: 12px;
        }
      }

      .sold_quantity {
        margin-left: 8px;
      }
    }
  }
}

@keyframes showSizeBox {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
