.user-admin {
  margin-bottom: 0 !important;
  table-layout: fixed;

  tr {
    border: 1px solid #ccc;

    .col-email {
      width: 25%;
    }

    .col-name {
      width: 20%;
    }

    .col-phone {
      width: 18%;
    }

    .col-address {
      width: 25%;
    }

    .col-action {
      width: 12%;
    }

    td,
    th {
      border: 1px solid #ccc;
      padding: 8px;
      word-wrap: break-word;
    }

    th {
      height: 50px;
      font-weight: 600;
      text-align: center;
    }
  }

  p {
    margin: 4px;
  }

  .action-icon {
    cursor: pointer;
    margin: 0 5px;

    &.delete {
      color: red;
    }

    &.edit {
      color: #007bff;
    }
  }
}
